.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  max-height: 1200px;
  overflow-y: auto;
}

.question-container {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
}

.definition {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 1em;
}

.script-context {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 5px;
}

.options-list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

.option-item {
  margin-bottom: 5px;
}

.option-button {
  padding: 8px 15px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.result-container {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
}

.correct-answer {
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}

.incorrect-answer {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.translation {
  font-size: 0.9em;
  color: #555;
}

.next-question-button {
  padding: 8px 15px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 90%;
}

.quiz-finished {
  font-weight: bold;
  font-size: 1.1em;
}
